@charset "ISO-8859-1";

body {
	margin: 0 auto;
	width: 90%;
	padding: 0 20px;
	background: #F4F4F4;
	padding-bottom: 15px;
}

h2 {
	background-color: #3C3838;
	color: white;
	padding: 15px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


.right {
	width: 40%;
	float: right;
	overflow:auto;
}

.left {
	width: 60%;
	float: left;
	overflow:auto;
}

.messages {
	border: 2px solid #DEDEDE;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	min-height: 500px;
	overflow:hidden;
	overflow-y:scroll;
}

.containerr {
	border: 2px solid #DEDEDE;
	background-color: #FCFCFC;
	border-radius: 5px;
	padding: 10px;
	width: 85%;
	margin-left: 10%;
	height: 90% auto;
}

input[type=text] {
	padding: 12px 20px;
	margin-right: 15px auto;
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
	height: 4%;
	width: 69%;
}

button {
	background-color: #3C3838;
	color: white;
	padding: 14px;
	margin-left: 50px auto;
	border: none;
	width: 15%;
	height: auto;
	transition: 0.6s;
	border: none;
	height: 3%;
}

button:hover {
	background-color: #111;
}

.text {
	margin-bottom: 14px;
	background-color: #E7E7E7;
	border: 1px solid #ccc;
	padding: 14px;
	box-sizing: border-box;
	border-radius: 5px;
	transition: 0.5s;
	word-break: break-word;
	overflow:hidden;
}

.text-dark {
    margin-bottom: 14px;
    background-color: #FFF;
    border: 1px solid #ccc;
    padding: 14px 14px 14px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
    word-break: break-word;
    overflow: hidden;
    width:100%;
}

.text:hover, .text-dark:hover{
	background-color: #D5D5D5;
}
.heure-right {
	float: right;
}
.heure-left {
	float: right;
}
.message-right{
	float: left;
}

li{
	padding-left: 14px;
	list-style: none;
}

li::before {
	content: "\2022"; color: #66DA19;;
  	display: inline-block; width: 12px;
 	margin-left: -1em
}

h3{
 	text-align:center;
 	color: #003718;
}
