@charset "ISO-8859-1";
body {
	background: #eee;	
}
input[type=text], input[type=password], input[type=email], h2, select, option{
	width: 90%;
	padding: 3% 3% 3% 3%;
	margin: auto;
	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius : 5px;
  	box-sizing: border-box;
  	text-align: center;
}

input[type=submit] {
	background-color: #3C3838;
	color: white;
	padding: 3% 3% 3% 3%;
	border: none;
	cursor: pointer;
	width: 90%;
	height: 3%;
    transition: 0.6s;
}

input[type=submit]:hover {
	opacity: 0.8;
}
.wrapperlogin{
	align-items: center;
	padding: 6% 30% 3% 38%;
}
.containerlogin{
	padding: 9% 5% 5% 10%;
	margin : 0;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1); 
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	width : 63%;
	height : 100%;
  	align-items: center;
}
a{
	color : #6C544E;
	transition: 0.6s;
}
a:hover{
	color: #535ACF;
}
.wrapperadd{
	align-items: center;
	padding: 2% 30% 2% 38%;
}
.containeradd{
	padding: 9% 5% 9% 10%;
	margin : 0;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1); 
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	width : 63%;
	height : 100%;
  	align-items: center;
}

.errmsg{
	color: #A60101;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 14px;
	width: 90%;
}

