@charset "ISO-8859-1";

body {
	background: #eee !important;
}

input[type=text], input[type=password], input[type=date], input[type=time], input[type=email],
	h2, select, option {
	width: 90%;
	padding: 12px 20px;
	margin-left: 5%;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

h3 {
	margin-left: 5%;
	padding: 12px 20px;
	display: inline-block;
	width: 90%;
}

.button {
	background-color: #515151;
	color: white;
	padding: 14px 20px;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	width: 30%;
	height: 3%;
	transition: 1s;
}

input[type=submit] {
	background-color: #515151;
	color: white;
	padding: 14px 20px;
	margin: 4% 0 1% 15%;
	border: none;
	cursor: pointer;
	width: 70%;
	height: 3%;
	transition: 1s;
}

input[type=submit]:hover {
	background-color: #111;
}

.wrapper {
	align-items: center;
	padding: 7% 5% 5% 13%;
}

.container {
	padding: 9% 5% 5% 20%;
	width: 90%;
	height: auto;
	min-height: 500px;
	display: inline-block;
	overflow: auto;
	margin: 0 auto;
	padding: 10px;
	align-items: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px
		10px 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #515151;
	color: white;
}

nav {
	position: fixed;
	width: 100%;
	position: sticky;
	margin: 0 auto;
}

nav ul {
	list-style-type: none;
	background-color: #515151;
	display: flex;
	
}

nav ul li {
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
	flex: 1 1 auto;
}

nav ul::after {
	content: "";
	display: table;
	clear: both;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	transition: 1s;
}

.link {
	color: #6C544E;
	transition: 0.6s;
}

.link:hover {
	color: #6880CC;
}

footer {
	display: block;
	margin: 0;
	padding: 14px 16px;
	color: white;
	overflow: hidden;
	background-color: #515151;
}

.errmsg{
	color: #D30202;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 14px;
}
.msg{
	color: #1EAB00;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 14px;
}
nav a {
	display: block;
	text-decoration: none;
}

nav a:hover {
	color: #909FD7;
	border-bottom: 2 px solid gold;
}

.sous {
	display: none;
	background-color: #515151;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px
		10px 10px;
}

nav>ul li:hover .sous {
	display: flex;
	flex-flow: column wrap;
}

.sous li {
	float: none;
	width: 100%;
	text-align: center;
	flex: 1 1 auto;
}

.sous a {
	padding: 10px;
	border-bottom: none;
}

.sous a:hover {
	border-bottom: none;
}

.sous a:hover {
	border-bottom: none;
	background-color: #515151;
}

.deroulant>a:after {
	content: "";
	font-size: 12px;
}

.sous {
	display: none;
	background-color: #515151;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px
		10px 10px;
	position: absolute;
	width: 100%;
	z-index: 1000;
}